<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!-- NuGet packages are now stored globally, see: https://stackoverflow.com/a/35809007/4122889 -->
  <!-- see: https://stackoverflow.com/a/53451805/4122889 -->
  <!-- <config>
    <add key="globalPackagesFolder" value=".\Packages" />
    <add key="repositoryPath" value=".\Packages" />
  </config> -->

  <!-- Setup for local packages, not in a nuget source -->
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nexus" value="https://ecomindo.pkgs.visualstudio.com/Nexus/_packaging/Nexus.Base/nuget/v3/index.json" />
    <!--<add key="LocalPackages" value="./LocalPackages" />-->

  </packageSources>
  <activePackageSource>
    <!-- this tells that all of them are active -->
    <!--<add key="All" value="(Aggregate source)" />-->
  </activePackageSource>

</configuration>